<?xml version="1.0"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="TAlex.PowerCalc.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="TAlex.PowerCalc.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <TAlex.PowerCalc.Properties.Settings>
            <setting name="ZeroThreshold" serializeAs="String">
                <value>14</value>
            </setting>
            <setting name="NumericFormat" serializeAs="String">
                <value>G4</value>
            </setting>
            <setting name="ColorScheme" serializeAs="String">
                <value>Blue</value>
            </setting>
            <setting name="ComplexThreshold" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="WorksheetFontSize" serializeAs="String">
                <value>12</value>
            </setting>
            <setting name="Plot2DBackground" serializeAs="String">
                <value>#FFF0F8FF</value>
            </setting>
            <setting name="WindowState" serializeAs="String">
                <value>Normal</value>
            </setting>
            <setting name="WindowBounds" serializeAs="String">
                <value>0,0,0,0</value>
            </setting>
            <setting name="WorksheetMaxMatrixRows" serializeAs="String">
                <value>15</value>
            </setting>
            <setting name="WorksheetMaxMatrixColumns" serializeAs="String">
                <value>15</value>
            </setting>
            <setting name="CallUpgrade" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="MatricesWorksheetRows" serializeAs="String">
                <value>256</value>
            </setting>
            <setting name="MatricesWorksheetColumns" serializeAs="String">
                <value>256</value>
            </setting>
        </TAlex.PowerCalc.Properties.Settings>
    </userSettings>

    <system.diagnostics>
      <trace autoflush="true">
        <listeners>
          <add name="TextWriter" type="System.Diagnostics.TextWriterTraceListener" initializeData="trace.log" traceOutputOptions="ProcessId, DateTime, Callstack"/>
        </listeners>
      </trace>
    </system.diagnostics>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/></startup><applicationSettings>
        <TAlex.PowerCalc.Properties.Settings>
            <setting name="ExtensionsPath" serializeAs="String">
                <value>Extensions</value>
            </setting>
        </TAlex.PowerCalc.Properties.Settings>
    </applicationSettings>
</configuration>
