<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <?include Variables.wxi ?>

  <Fragment>
    <Feature Id="Complete" Title="$(var.ProductName)" Description="Complete setup" Display="expand" Level="1" ConfigurableDirectory="INSTALLLOCATION" AllowAdvertise="no" Absent="disallow" InstallDefault="local">
      <Feature Id="PowerCalc" Title="PowerCalc" Description="PowerCalc" Level="1" AllowAdvertise="no" Absent="disallow" InstallDefault="local">
        <ComponentRef Id="CMP_ProductExecutable" />
        <ComponentRef Id="CMP_ProductExecutableConfig" />
        
        <ComponentRef Id="CMP_TAlexCommon" />
        <ComponentRef Id="CMP_TAlexCommonDiagnostics" />
        <ComponentRef Id="CMP_TAlexMvvm" />
        <ComponentRef Id="CMP_TAlexMvvmWpf" />
        <ComponentRef Id="CMP_TAlexWPFControls" />
        <ComponentRef Id="CMP_Ninject" />

        <ComponentRef Id="CMP_TAlexMathCore" />
        <ComponentRef Id="CMP_TAlexMathCore_ExpressionsBase" />
        <ComponentRef Id="CMP_TAlexMathCore_ComplexExpressions" />
        <ComponentRef Id="CMP_TAlexMathCore_LinearAlgebra" />
        <ComponentRef Id="CMP_TAlexMathCore_NumericalAnalysis" />
        <ComponentRef Id="CMP_TAlexMathCore_SpecialFunctions" />
        <ComponentRef Id="CMP_TAlexMathCore_Statistics" />
        
        <ComponentRef Id="CMP_TAlexMathCore_ComplexExpressions_Extensions" />
        
        <ComponentRef Id="CMP_ProgramsMenuShortcuts" />
        <ComponentRef Id="CMP_ProductExecutableDesktopShorctut" />

        <!--<Feature Id="TestExamples" Title="Test Examples" Description="Test Examples" Level="1" AllowAdvertise="no" Absent="allow" InstallDefault="local">
          <ComponentRef Id="CMP_SimpleTest" />
        </Feature>-->
      </Feature>
    </Feature>
  </Fragment>
</Wix>